<header class="profile">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/px.png" | relURL }}" />
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/px.png" | relURL }}" />
    {{ end }}

    <h1><font size = "5">{{ .Site.Title }}</font></h1>
    
    {{ with .Site.Params.Bio }}
      <h4><font size = "3" color = "grey"><i>{{ . | markdownify }}</i></font></h4>
    {{ end }}
</header>